@use '../../styles/list.scss' as list;

.folderList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-direction: row;
  justify-content: space-between;
  @include list.list;
  
  .folderImg {
    width: 80px;
    height: 80px;
  }
  .folderImg:hover {
    cursor: pointer;
  }
  .folderTitle {
    width: 80px;
    text-align: center;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .folderTitle:hover {
    cursor: pointer;
    white-space: normal;
    text-overflow: unset;
  }
}
.folderList::-webkit-scrollbar {
  width: 4px;
}
.folderList::-webkit-scrollbar-thumb {
  background-color: #000000;
}
.folderList::-webkit-scrollbar-track {
  background-color: grey;
}
