.layout {
  position: relative;

  height: 100vh;
  width: 100vw;

  display: flex;
  overflow: hidden;

  flex-direction: column;

  z-index: 1;
  padding-top: 66px;
  padding-left: 115px;
  .content {
    margin-bottom: 20%;
    z-index: 6;
    .title {
      font-size: 58px;
      line-height: 64px;
      display: flex;
      align-items: center;

      padding-bottom: 30px;
      .highlight {
        color: #1087a0;
      }
    }
    .intro {
      font-size: 24px;
      line-height: 29px;
      display: flex;
      align-items: center;

      color: #555555;
    }
  }
  .subContent {
    font-weight: 300;
    font-size: 20px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    .colorPallets {
      width: 49%;
      display: flex;
      justify-content: space-between;
      gap: 15;
      .pallet {
        display: flex;
        line-height: 30px;
        .indicator {
          width: 30px;
          height: 30px;
          border-radius: 15px;
        }
        .pink {
          background-color: #ff6384;
        }
        .blue {
          background-color: #36a2eb;
        }
        .yellow {
          background-color: #ffce56;
        }
        .green {
          background-color: #4bc0c0;
        }
        .purple {
          background-color: #9966ff;
        }
        .orange {
          background-color: #ff9f40;
        }
      }
    }
    .colorManual {
    }
  }
  .BlueEllipse {
    position: absolute;
    top: -100px;
    left: -100px;
    z-index: 2;
  }
  .Capture {
    position: absolute;
    top: 300px;
    left: 150px;
    z-index: 2;
  }
  .CircleGraph {
    position: absolute;
    top: 100px;
    left: 900px;
    z-index: 1;
  }
}
