.layout {
  position: relative;

  height: 100vh;
  width: 100vw;

  display: flex;
  overflow: hidden;

  flex-direction: row;
  justify-content: space-between;

  z-index: 1;
  .layout_left {
  }
  .layout_right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .main {
      .main_title {
        height: 64px;

        font-weight: 500;
        font-size: 64px;
        line-height: 64px;

        display: flex;
        align-items: center;
        text-align: right;

        .highlight {
          color: #4bca80;
        }
      }
      .main_content {
        font-size: 28.8px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: right;

        color: #555555;
      }
    }
    .sub {
      .sub_title {
        font-size: 40px;
        line-height: 40px;
        /* identical to box height */

        display: flex;
        align-items: center;
        text-align: right;

        color: #4bca80;
      }
      .sub_content {
        font-size: 28.8px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: right;

        color: #555555;
      }
    }
  }
}
