.layout {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  z-index: 9;

  .layoutLeft {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 9;
    padding-left: 8%;

    .greenEllipse {
      position: absolute;
      left: -370px;
      top: -360px;
      z-index: 0;
    }

    .title {
      font-size: 56px;
      line-height: 64px;
      display: flex;
      z-index: 9;
      align-items: center;

      .highlight {
        color: #4bca80;
        font-weight: 600;
      }
    }

    .intro {
      padding-top: 5%;
      font-size: 24px;
      line-height: 29px;
      display: flex;
      align-items: left;
      text-align: left;
      z-index: 9;
      color: #555555;
    }
  }

  .layoutRight {
    z-index: 9;

    // margin-top: 20px;
    margin: 46px;
    .cardRow {
      display: flex;
      flex-direction: row;
      // gap: 30px;

      .card {
        width: 360px;
        height: 180px;
        margin: 14px;
      }
    }
  }
}