@use "../../../Style/index.scss" as comm;

.body {
  width: 100vw;
  margin: 50px;

  hr {
    height: 0.5px;
    border: 0;
    background-color: #d9d9d9;
    margin: {
      top: 32px;
      bottom: 32px;
    }
  }

  .repository {
    height: calc(100vh - 260px);
    z-index: -100;
    flex-wrap: wrap;
    overflow-y: scroll;
  }

  .folderName {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: space-between;

    span {
      margin: {
        left: 8px;
        right: 8px;
        top: 8px;
      }
      font-size: 28px;
    }

    .editImg {
      cursor: pointer;
      opacity: 0.5;
    }
  }

  .button {
    display: flex;
    justify-content: flex-end;

    button {
      @include comm.button;
    }
    .rollbackButton {
      background-color: #836141;
    }
  }

  .dropdown {
    width: 120px;
    z-index: 100;
    position: relative;
    display: flex;
    align-items: center;

    .img {
      margin-left: 48px;
    }

    .label {
      margin-bottom: 16px;
    }

    .options {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      top: 100%;
      left: -5%;
      right: 0;
      max-height: 150px;
      background-color: #ffffff;
      border: 1px solid #ccc;

      .option {
        padding: 8px;
        cursor: pointer;

        &.active,
        &:hover {
          background-color: #eee;
        }
      }
    }
  }

  .dropdown:hover {
    cursor: pointer;
  }
}
