@use "../../Style/index.scss" as comm;

.readmeMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include comm.title;
}

.divdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  select {
    appearance: none;
  }
}

.selectSV {
  width: 65%;
  height: 60px;
  margin: 20px;
  border-radius: 10px;
  border: none;
  text-indent: 20px;
  font-size: 17px;
  font-family: "GmarketSansMedium";
  color: #a8a8a8;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
  outline: none;
  &:focus {
    color: #000000;

    outline: 4px solid comm.$mainGreen !important;
  }

  option {
    font-size: 14px;
  }
}

.selectedBtn {
  width: 40px;
  height: 40px;
}

.choiceBox {
  width: 400px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .choiceComp {
    margin: 10px;
    border-radius: 30px;
    height: 30px;
    width: 80px;
    background: comm.$mainGreen;
    color: comm.$mainWhite;
    border: 3px solid comm.$mainGreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  :hover {
    cursor: pointer;
    background: comm.$mainGreen;
    color: comm.$mainWhite;
    border: 3px solid comm.$mainGreen;
    filter: blur(2px);
  }
}

.loadReadmeBtn {
  position: fixed;
  width: 80px;
  height: 48px;
  left: 300px;
  top: 50px;

  background: #4bca80;
  color: white;
  font-weight: normal;
  font-size: 16px;
  border-radius: 10px;
  font-family: "GmarketSansMedium";
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.saveBtnDesc {
  position: fixed;
  width: 260px;
  height: 48px;
  left: 370px;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.disabledBtn {
  background-color: #cccccc;
  cursor: auto;
}
.checkAllBtn {
  position: relative;
  cursor: pointer;
  width: 60px;
  border-radius: 10px;
  font-size: 17px;
  height: 60px;
  margin-right: 15px;
  background: comm.$mainGreen;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btnHoverDiv {
  position: absolute;
  width: 80px;
  height: 48px;
}
