.body {
  position: relative;
  & .headerDiv {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    & .Colbar {
      background-color: #d4d4d3;
      width: 7px;
      height: 80px;
      left: 0px;
      top: 0px;
    }
    & .MainText {
      font-size: 40px;
      margin-left: 10px;
    }
    & .SubText {
      font-size: 16px;
      color: #979696;
      line-height: 0px;
      margin-left: 10px;
    }

    .downloadBtn {
      position: absolute;
      width: 45px;
      height: 45px;
      right: 140px;
      background-color: #4bca80;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .CopyBtn {
      position: absolute;
      width: 45px;
      height: 45px;
      right: 195px;
      background-color: #4bca80;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    .btnReset {
      position: absolute;
      width: 130px;
      height: 45px;
      right: 0px;
      background: #4bca80;
      color: white;
      font-weight: bold;
      font-size: 16px;
      border-radius: 10px;
      font-family: "GmarketSansMedium";
      border: none;
      cursor: pointer;
    }
    .btnSave {
      position: absolute;
      width: 80px;
      height: 45px;
      right: 250px;
      background: #4bca80;
      color: white;
      font-weight: bold;
      font-size: 16px;
      border-radius: 10px;
      font-family: "GmarketSansMedium";
      border: none;
      cursor: pointer;
    }
  }

  & .contentDiv {
    width: 100%;
    height: calc(95vh - 180px);
    margin-top: 3vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
}

.techBadgeDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 300px;
}
.techBadge {
  margin: 5px 5px;
}
.tecc {
}

.card {
  display: flex;
  position: absolute;
  width: 280px;
  height: 140px;
  border-radius: 10px;
  background: #4bca80;
  color: white;

  span {
    font-size: 14px;
    right: 5px;
    top: 0px;
  }
}
.contactBadgeDiv {
  display: flex;
  justify-content: flex-start;
  width: 220px;

  a {
    margin: 0 5px;
  }
}

.TextArr {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  h3 {
    text-align: center;
  }
}
