<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      body {
        width: 100%;
        height: 100%;
      }
      .card {
        display: flex;
        position: absolute;
        width: 280px;
        height: 140px;
        border-radius: 10px;
        background: #4bca80;
        color: white;
      }
      span {
        font-size: 14px;
        right: 5px;
        top: 0px;
      }
    </style>
  </head>
  <body>
    <div class="card">
      <span>kyum8562’s Oreuda Stats</span>
    </div>
  </body>
</html>
