.blue {
  background-color: #8AD3FB;
}
.purple {
  background-color: #8AD3FB;
}
.red {
  background-color: #FF738D;
}
.yellow {
  background-color: #FACD70;
}
.green {
  background-color: #B8EC66;
}
.black {
  background-color: #8B8B8B;
}
.orange {
  background-color: #FD8E5F;
}
.white {
  background-color: #BDBDBD;
}
