.blue {
  background-color: #b0e3ff;
}
.pink {
  background-color: #ffb3c1;
}
.green {
  background-color: #9ff278;
}
.black {
  background-color: #808080;
}
.orange {
  background-color: #fcd582;
}
.purple {
  background-color: #e5bbff;
}
