.blue {
  color: #8ad3fb;
}
.purple {
  color: #CBBFFF;
}
.red {
  color: #ff738d;
}
.yellow {
  color: #facd70;
}
.green {
  color: #b8ec66;
}
.black {
  color: #8b8b8b;
}
.orange {
  color: #fd8e5f;
}
.white {
  color: #bdbdbd;
}
