.javascript {
  background-color: #f1e05a;
}
.html {
  background-color: #e44b23;
}
.css {
  background-color: #563d7c;
}
.python {
  background-color: #3581ba;
}
.typescript {
  background-color: #31859c;
}
.java {
  background-color: #b07219;
}
.shell {
  background-color: #89e051;
}
.php {
  background-color: #4f5d95;
}
.cpp {
  background-color: #f34b7d;
}
.c {
  background-color: #555;
}
.go {
  background-color: #375eab;
}
.rust {
  background-color: #dea584;
}
.dart {
  background-color: #98bad6;
}
.ruby {
  background-color: #701516;
}
.assembly {
  background-color: #6e4c13;
}
.swift {
  background-color: #ffac45;
}
.r {
  background-color: #198ce7;
}
.matlab {
  background-color: #bb92ac;
}
.scala {
  background-color: #7dd3b0;
}
.objective-c {
  background-color: #438eff;
}
.perl {
  background-color: #0298c3;
}
.other {
  background-color: #ededed;
}
