.blue {
  background-color: #8ad3fb;
}
.purple {
  background-color: #cbbfff;
}
.red {
  background-color: #ff738d;
}
.yellow {
  background-color: #facd70;
}
.green {
  background-color: #b8ec66;
}
.black {
  background-color: #8b8b8b;
}
.orange {
  background-color: #fd8e5f;
}
.white {
  background-color: #bdbdbd;
}
