.folders {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  height: calc(100vh - 208px);
  flex-wrap: wrap;
  overflow-y: scroll;

  margin: {
    left: 32px;
    right: 32px;
  }
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;

  div {
    border: #d9d9d9 solid 1px;
    border-radius: 16px;
    padding: 24px;
  }

  // &:hover {
  //   box-shadow: 0px 0px 10px #ccc;
  // }

  // input[type="checkbox"] {
  //   appearance: none;
  //   position: absolute;
  //   cursor: pointer;
  // }

  // // clickDelete 값이 true인 경우에만 checkbox 스타일을 적용합니다.
  // &:not(.click-disabled) {
  //   input[type="checkbox"] {
  //     display: block;
  //   }

  //   input[type="checkbox"]::before {
  //     content: "";
  //     position: absolute;
  //     width: 12px;
  //     height: 12px;
  //     border: 1px solid #999;
  //   }

  //   input[type="checkbox"]:hover::before {
  //     border-color: #666;
  //   }

  //   // 체크된 상태의 checkbox 스타일
  //   input[type="checkbox"]:checked::before {
  //     content: "";
  //     position: absolute;
  //     width: 6px;
  //     height: 12px;
  //     border: solid #333;
  //     border-width: 0 2px 2px 0;
  //     transform: rotate(45deg);
  //   }
  // }
  // input[type="checkbox"]:checked + div {
  //   border: 2px solid #0070f3;
  // }
}
