.body {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  height: 150px;

  margin: {
    left: 32px;
    bottom: 64px;
  }
}

.info {
  padding-right: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  div {
    display: flex;
  }

}

  .infoFirst {
    align-items: center;
    max-width: 450px;

    .link {
      font-size: 24px;
      font-weight: bold;
      margin-right: 16px;
      text-decoration: none;
      color: black;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    div {
      font-size: 8px;
      font-weight: bold;
      color: #a9a9a9;

      border: 1px solid #a9a9a9;
      border-radius: 16px;
      padding: 4px;
    }

  p {
    color: #858181;
    font-size: 16px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


.infoBottom {
  justify-content: space-between;

  & div {
    div:nth-of-type(1) {
      width: 16px;
      height: 16px;
      border-radius: 16px;
      margin-right: 8px;
    }

    span:nth-of-type(1) {
      margin-right: 16px;
    }

    .img {
      margin-right: 8px;
    }
  }

  span {
    font-size: 12px;
  }
}

.repositoryGrass {
  position: relative;
  z-index: -1;
}


.repositoryGrassGraph .repositoryGraph {
  display: flex;
  align-items: center; 
}