@use "../../Style/index.scss" as comm;

.modalBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  padding: 40px 56px;
  width: 36%;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  p {
    font-size: 16px;
    margin: {
      top: 32px;
      bottom: 8px;
    }
  }

  > div:nth-of-type(1) {
    display: flex;
    justify-content: space-between;
    button {
      width: 64px;
      margin: 8px 0px;
      @include comm.button;
    }
  }

  > div:nth-of-type(2),
  > div:nth-of-type(3),
  input {
    border: 1px solid gray;
    padding: 8px 16px;
    border-radius: 8px;
  }

  input {
    display: flex;
    align-items: center;
    height: 24px;
  }

  > div:nth-of-type(2) {
    display: grid;
    grid-template-columns: repeat(7, 1fr);

    div {
      border-radius: 8px;
      margin: 8px;
      height: 28px;
    }

    .select {
      border: 2px solid black;
    }
  }
}

.checkItem {
  max-height: 144px;
  overflow-y: auto;

  input {
    margin: {
      top: 0px;
      bottom: 0px;
      right: 8px;
      left: 0px;
    }
  }

  div {
    display: flex;
    margin: 8px 0px;
  }
}
