.page {
  background: #ffffff;
  margin: 0;
  overflow: hidden;
  overflow-y: scroll;
  height: 100vh;
  width: 100vw;
  font-family: "Gmarket Sans";
  // font-family: "Gmarket Sans TTF";
    font-style: normal;
}
