@use "../../styles/list.scss" as list;

.cardList {
  @include list.list;
  height: 75%;
  .card {
    margin: 0 auto;
    padding: 5px;
    margin-bottom: 5px;
    box-sizing: border-box;

    width: 295px;
    height: 82px;

    border: 1px solid #aeaeae;
    border-radius: 10px;

    .cardHeader {
      display: flex;
      font-size: 12px;
      line-height: 12px;
      padding-bottom: 5px;
      justify-content: space-between;
      .dropdownBtn {
        box-sizing: border-box;

        width: 63px;
        height: 16px;

        background: #fffff6;
        border: 1px solid #000000;
        border-radius: 5px;
        text-align: right;
        font-size: 8px;
        line-height: 16px;
        text-align: center;
        .dropdownIcon {
          position: relative;
          top: 1px;
          width: 8px;
          height: 8px;
        }
      }
    }
    .cardContent {
      padding-bottom: 5px;
      .layoutTop {
        display: flex;
        font-size: 7px;
        line-height: 7px;
        color: #ffffff;
        .repoVisibilityPublic {
          background: #0596ff;
          width: 50px;
          height: 14px;
          margin-right: 8px;
          border-radius: 5px;
          font-size: 7px;
          line-height: 14px;
          align-items: center;
          text-align: center;
        }
        .repoVisibilityPrivate {
          width: 50px;
          height: 14px;
          margin-right: 8px;
          background: #ff0505;
          border-radius: 5px;
          font-size: 7px;
          line-height: 14px;
          align-items: center;
          text-align: center;
        }
        .repoIndicator {
          margin-right: 4px;

          width: 10px;
          height: 10px;
          border-radius: 5px;
          background-color: #64b4ff;
        }
        .repoLanguage {
          margin-right: 4px;
          color: #000000;
        }
      }
      .layoutBottom {
        display: inline-block;
        width: 70%;

        height: 29px;
        padding-top: 3px;
        overflow: hidden;
        text-overflow: ellipsis;

        /* 여러 줄 자르기 추가 스타일 */
        white-space: normal;
        text-align: left;
        word-wrap: break-word;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;

        .repoDescription {
          text-align: left;
          font-size: 8px;
          line-height: 10px;

          color: #858181;
        }
      }
    }
    .cardFooter {
      text-align: right;
      font-size: 8px;
      line-height: 8px;
      /* identical to box height */

      color: #000000;
    }
  }
}
.cardList::-webkit-scrollbar {
  width: 4px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.cardList::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.cardList::-webkit-scrollbar-track {
  background-color: grey;
}

.cardList:hover::-webkit-scrollbar {
  opacity: 1;
}
