* {
  @font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }
}

.body {
  display: flex;
  font-family: "GmarketSansMedium";
  margin: 0px;
  
  ::selection {
    background-color: #4bca80;
    color: white;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100vh;
  background-color: #fffff6;

  ul {
    padding-left: 0px;
    margin : {
      bottom: 40px;
      left: 40px;
    }

    .link {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: black;

      .img {
        margin-right: 16px;
      }

      .profile {
        margin-right: 16px;
        border-radius: 50px;
      }
    }
  }

  .characterimg{
    margin-left: 40px;
  }
}

.header {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;

  margin: {
    top: 40px;
    bottom: 48px;
    left: 40px;
  }

  .img {
    margin-right: 8px;
  }
}
